@font-face {
    font-family: 'Neue Haas Unica';
    src: url('/font/NeueHaasUnica-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'Neue Haas Unica';
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #7e7975;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.enlace, a{
    color: #7e7975;
    text-decoration: none;
    transition: 600ms;
}

.enlace:hover{
    color: black;
}