.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.product-container {
    width: 22%;
    margin: 1px;
    margin-bottom: 50px;
    text-align: start;
}

.product-image {
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.2s ease-in-out;
}

.product-price {
    color: gray;
}
